body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*header*/

.header {
  display: flex;
  justify-content: center;
  padding: 33px 0px 0px 0px;
}

.header__logo {
  padding-right: 285px;
}

.header__nav {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  color: #3e356a;
  padding-right: 285px;
}

.header__nav_link {
  list-style-type: none;
  padding: 0px 40px;
}

.header__icon {
  padding-right: 13px;
}

/* searcher container */

.searcher__container {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searcher__headline {
  font-size: 42px;
  font-weight: 400;
}

/* searcher */

.search-container {
  position: relative; /* Для абсолютного позиционирования иконки */
  display: inline-block;
  margin: 20px 0;
}

#search-input {
  width: 600px;
  padding: 12px 15px 12px 40px; /* Отступ слева для иконки */
  border: 2px solid #e0e0e0;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

#search-input:focus {
  border-color: #3e356a;
  box-shadow: 0 2px 8px #c3bde4;
  width: 650px;
}

.search-icon {
  position: absolute;
  left: 12px; /* Расстояние от левого края */
  top: 50%;
  transform: translateY(-50%); /* Центрирование по вертикали */
  width: 16px;
  height: 16px;
  pointer-events: none; /* Клики проходят сквозь иконку */
}

.bubbles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.bubble {
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bubble.hidden {
  display: none;
}

.bubble:not(.hidden) {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
