.care {
  margin-bottom: 104px;
}

.care__content {
  border-radius: 50px;
  padding: 100px;
  box-sizing: border-box;
  background: #ffece4;
}

.care__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.care__card {
  width: 240px;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
  padding: 35px 35px;
  box-sizing: border-box;
}

.care__card > .title {
  margin-bottom: 20px;
}

.title__care {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 473px) {
  .care__content {
    padding: 20px;
  }
}
