.footer{
    margin-bottom: 100px;
}

.footer__content{
    display: flex;
    gap: 101px;
}

.footer__info{
    width: 390px;
}

.footer__info>.desc{
    margin-bottom: 30px;
}

.footer__address>.title, .footer__links>.title, .footer__work>.title{
    margin-bottom: 25px;
}

.footer__info>img{
    margin-bottom: 25px;
}

.form{
    position: absolute;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px 12px 35px 0px #D2C5C040;
    background: #FFFFFF;
    display: flex;
}

.form__input-text{
    border: none;
    top: 10%;
    left: 4%;
    z-index: 1;
    width: 220px;
    height: 45px;
    position: relative;
    outline:none;
}

.form>.button{
    outline:none;
    border: none;
    z-index: 2;
}


@media (max-width:1248px) {
    .footer__content{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:414px) {
    .form{
        width: 100%;
    }
    .form__input-text{
        width: 50%;
    }
}