.hero{
    margin-bottom: 150px;
}

.hero__info{
    width: 630px;
    margin-right: 100px;
}

.title__hero{
    margin-bottom: 30px;
}

.buttons{
    margin-top: 60px;
}

.buttons>.button:not(:last-child){
    margin-right: 20px;
}

.hero__content{
    display: flex;
}

.hero__img>img{
    width: 430px;
}

.hero__img{
    position: relative;
}


.hero__img::before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: 27%;
    right: 3%;
    background: #ffe4d9;
    border-radius: 50%;
    box-shadow: 1px -31px 100px 85px rgba(255, 205, 184, 0.5);
    z-index: -1;
}

@media (max-width:1032px) {
    .buttons .button_red{
        margin: 0 0 30px 0 !important;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__info{
        width: 100%;
    }
    .hero__img{
        width: 100%;
    }
    .hero__img img{
        width: 50%;
    }

    .hero__content{
        flex-direction: column;
        gap: 30px;
    }
    
}