/* src/components/TaskItem.css */
.task-item {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-left: 4px solid #8d49f8;
}

.task-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin: 0 0 8px 0px;
  display: flex;
  flex-direction: row;
}

.task-item p {
  color: #555;
  margin: 0 0 12px 0;
  line-height: 1.5;
}

.task-item img.task-image {
  max-width: 100%;
  max-height: 200px;
  margin: 12px 0;
  border-radius: 8px;
  object-fit: cover;
}

.task-item small {
  display: block;
  color: #7e57c2;
  font-weight: 600;
  margin: 8px 0 16px 0;
}

.task-actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.task-actions button {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.task-actions button:hover {
  opacity: 0.9;
}

.task-actions .delete {
  background: #ffebee;
  color: #e74c3c;
}

.task-actions .delete:hover {
  background: #ffcdd2;
}

.bell-small-icon {
  height: 16px;
  width: 12px;
  filter: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(4916%)
    hue-rotate(267deg) brightness(99%) contrast(106%);
  margin-top: 3px;
}

.task-item.completed .task-header h3 {
  text-decoration: line-through;
  color: #999;
}

.completed-checkbox {
  display: flex;
  align-items: center;
  margin-right: 6px;
  font-size: 14px;
  /* color: #555; */
  white-space: nowrap;
}

.completed-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
